html {
	height: 100%;
	}

body {
	height: 100%;
	background-color: #212121;
	margin: 0;
	overflow: hidden;
	}

body a {
	text-decoration: none;
	}

body p {
	margin: 0 0 20px 0;
	}

body p:last-child {
	margin: 0;
	}

input:focus-visible,
textarea:focus-visible {
	outline: 0;
	}

#overlay {
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0;
	position: fixed;
	top: 0;
	z-index: 996;
	display: block;
	visibility: hidden;
	transition: .35s;
	}

#bgOverlay {
	width: 100%;
	height: 100%;
	background: none;
	position: fixed;
	z-index: 982;
	}

#main {
	width: 100%;
	height: 100%;
	position: absolute;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 980;
	}

#main-bg {
	position: fixed;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -999;
	}

#content {
	width: 55%;
	height: calc(100% - 140px);
	margin: auto;
	padding: 0 25px;
	color: #9D9D9D;
	font-family: "Magistral";
	font-weight: lighter;
	letter-spacing: 1px;
	position: relative;
	top: 70px;
	line-height: 25px;
	font-size: 15px;
	overflow-y: auto;
	}

#content h2 {
	font-size: 14px;
	color: #7D7D7D;
	font-family: "Magistral";
	font-weight: 500;
	font-style: normal;
	text-align: center;
	margin: 0px auto 35px auto;
	}

#topNav {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	z-index: 985;
	}

#topPage {
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	z-index: 985;
	background: #212121;
	}

#sidenav {
	margin-left: -220px;
	}

.title {
	width: 100%;
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	letter-spacing: 10px;
	text-align: center;
	color: #7D7D7D;
	position: fixed;
	z-index: 986;
	margin: 0;
	}

.titles {
	width: 100%;
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	letter-spacing: 10px;
	text-align: center;
	color: #9D9D9D;
	position: fixed;
	z-index: 986;
	margin: 0;
	}

.lastLetter {
	letter-spacing: 0px;
	}

#titleTop {
	top: 30px;
	}

#titleFooter {
	bottom: 30px;
	}

#divider {
	width: 50px;
	border-bottom: 1px solid #5D5D5D;
	margin: 10px auto 0 auto;
	}

.sidenav {
	height: 100%;
	width: 220px;
	position: fixed;
	z-index: 999;
	top: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: .35s;
	background-color: #242424;
	}

.sidenav a {
	padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 10px;
	color: #212120;
	display: block;
	letter-spacing: 5px;
	}

.sidenav a:hover {
	color: #FFFFFF;
	}

.current-link {
	color: #FFFFFF !important;
	}

#sidenav::-webkit-scrollbar {
	width: 1px;
	}

#sidenav::-webkit-scrollbar-track {
	background: #2C2C2C;
	}

#sidenav::-webkit-scrollbar-thumb {
	background: #373737;
	}

#content::-webkit-scrollbar {
	width: 5px;
	}

#content::-webkit-scrollbar-track {
	background: #2C2C2C;
	}

#content::-webkit-scrollbar-thumb {
	background: #373737;
	}

#open-menu {
	width: 50px;
	height: 50px;
	text-align: center;
	position: fixed;
	z-index: 999;
	font-size: 30px;
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	top: 30px;
	left: 30px;
	transition: .35s;
	}

#open-menu:hover {
 	border: 0px solid transparent;
	}

#burger {
	width: 50px;
	height: 50px;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/burger-1.svg) center no-repeat;
	background-size: cover;
	border-radius: 50%;
	}

#burger:hover {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/burger-2.svg) center no-repeat;
	background-size: cover;
	}

#subscribe {
	width: 216px;
	display: grid;
	align-content: center;
	justify-content: center;
	margin: auto;
	}

#subscribe h2 {
	font-size: 10px;
	color: #7D7D7D;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	letter-spacing: 2px;
	text-align: center;
	margin: 50px auto 10px auto;
	}

#socialContainer {}

#social-links {
	width: 40px;
	height: 100%;
	position: fixed;
	transition: .35s;
	top: 0;
	left: 35px;
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 998;
	}

#social-links-m {
	width: 100%;
	height: 50px;
	position: fixed;
	top: calc(50% - 25px);
	transition: .35s;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	z-index: 970;
	}

#social-links-m li {
	margin: 0 5px;
	}

#social-links-c {
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
	}

#social-links-c ul {
	width: 660px;
	display: flex;
	transition: .35s;
	list-style: none;
	padding: 0;
	margin: 0;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 970;
	}

#social-links-c li {
	margin: 10px 25px;
	border: 1px solid #7D7D7D;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	}

#social-links-c a {
	display: contents;
	}

#social-links-c div {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	}

#social-links-c img {
	max-width: 30px;
	max-height: 20px;
	}

#social-links a {
	display: contents;
	}

#social-links li {
	display: contents;
	}

.social-link {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin: 5px 0;
	}

#facebook {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/facebook.svg) center no-repeat #212120;
	background-size: contain;
	}

#vk {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/vk.svg) center no-repeat #212120;
	background-size: contain;
	}

#youtube {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/youtube.svg) center no-repeat #212120;
	background-size: contain;
	}

#instagram {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/instagram.svg) center no-repeat #212120;
	background-size: contain;
	}

#soundcloud {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/soundcloud.svg) center no-repeat #212120;
	background-size: contain;
	}

#bandcamp {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/bandcamp.svg) center no-repeat #212120;
	background-size: contain;
	}

#itunes {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/itunes.svg) center no-repeat #212120;
	background-size: contain;
	}

#googleplay {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/googleplay.svg) center no-repeat #212120;
	background-size: contain;
	}

#nav-links {
	height: 325px;
	background: #D9974B;
	padding-top: 85px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	}

.mail {
	margin: auto;
	line-height: 3;
	border-top: 0;
	border-bottom: 1px solid #7D7D7D;
	border-left: 0;
	border-right: 0;
	background: transparent;
	color: #7D7D7D;
	text-align: center;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: bold;
	font-style: normal;
	letter-spacing: 2px;
	}

.subscribe {
	width: 100%;
	color: #7D7D7D;
	font-size: 10px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	background: transparent;
	padding: 15px;
	border: 1px solid #7D7D7D;
	letter-spacing: 2px;
	margin: 10px auto 50px auto;
	}

.subscribe:hover {
	color: #000;
	background: #D9974B;
	padding: 15px;
	border: 1px solid #D9974B;
	cursor: pointer;
	}

#contactName,
#contactMail {
	width: calc(48% - 20px);
	background: transparent;
	color: #FFFFFF;
	text-align: center;
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #7D7D7D;
	font-family: "Magistral";
	font-weight: 100;
	font-style: normal;
	background: transparent;
	letter-spacing: 2px;
	}

#contactName {
	float: left;
	}

#contactMail {
	float: right;
	}

#contactMSG {
	width: 95.4%;
	height: 150px;
	background: transparent;
	color: #FFFFFF;
	padding: 15px;
	margin-bottom: 15px;
	border: 1px solid #7D7D7D;
	font-family: "Magistral";
	font-weight: 100;
	font-style: normal;
	background: transparent;
	letter-spacing: 2px;
	}

#contactName:hover,
#contactMail:hover,
#contactMSG:hover {
	border: 1px solid #D9974B;
	}

#langContainer {
	width: 100px;
	height: 100px;
	text-align: center;
	position: fixed;
	z-index: 994;
	font-size: 30px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	color: #7D7D7D;
	top: 36px;
	right: 6px;
	transition: .35s;
	opacity: 0;
	}

#langSelect {
	width: 50px;
	height: 50px;
	text-align: center;
	position: fixed;
	z-index: 995;
	cursor: pointer;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #7D7D7D;
	border-radius: 50%;
	color: #7D7D7D;
	background: #212121;
	top: 30px;
	right: 30px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	}

#langSelect:hover,
#secondLang:hover {
	border: 1px solid #D9974B;
	color: #D9974B;
	}

#secondLang {
	width: 50px;
	height: 50px;
	text-align: center;
	z-index: 994;
	cursor: pointer;
	display: none;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border: 1px solid #7D7D7D;
	border-radius: 50%;
	color: #7D7D7D;
	background: #212121;
	right: 30px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	}

@keyframes scale {
	0% {transform: scale(0); opacity: 0;}
	100% {transform: scale(1); opacity: 1;}
	}

.scale {
	animation: .5s linear 0s 1 scale;
	}

@keyframes fadeIn {
	0% {opacity: .5;}
	100% {opacity: 1;}
	}

.fadeIn {
	animation: 1s linear 0s 1 fadeIn;
	}

.circular {
	width: 100px;
	height: 100px;
	border: 50px solid;
	border-radius: 50%;
	transform: rotate(45deg);
	display: block;
	animation: circle .5s 1 linear;
	border-image: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/circle-inner.svg) 50 50;
	}

.circular::before {
	content: "";
	position: absolute;
	inset: -50px;
	border-radius: 50%;
	border: 50px solid;
	animation: circular 2s infinite linear;
	animation-delay: .5s;
	opacity: 0;
	border-image: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/circle-outer.svg) 50 50;
	}

@keyframes circle {
	0% {clip-path:polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);}
	25% {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)}
	50% {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)}
	75% {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)}
	100% {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);}
	}

@keyframes circular {
	0% {clip-path:polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0); opacity:1}
	12.5% {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)}
	25% {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)}
	37.5% {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)}
	50% {clip-path:polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)}
	62.5% {clip-path:polygon(50% 50%, 100% 0, 100% 0, 100% 100%, 0 100%, 0 0)}
	75% {clip-path:polygon(50% 50%, 100% 100%, 100% 0, 100% 100%, 0 100%, 0 0)}
	87.5% {clip-path:polygon(50% 50%, 0 100%, 100% 100%, 0 100%, 0 100%, 0 0)}
	100% {clip-path:polygon(50% 50%, 0 0, 0 100%, 0 0, 0 100%, 0 0);opacity:1}
	}

.ring {
	border: 1px solid #7D7D7D;
	border-radius: 50%;
	position: fixed;
	opacity: .25;
	}

#ring-1 {
	width: 300px;
	height: 300px;
	animation-delay: .25s;
	animation: .5s linear 0s 1 showRing;
	}

#ring-2 {
	width: 400px;
	height: 400px;
	animation-delay: .5s;
	animation: .75s linear 0s 1 showRing;
	}

#ring-3 {
	width: 500px;
	height: 500px;
	animation-delay: 75s;
	animation: 1s linear 0s 1 showRing;
	}

@keyframes showRing {
	0% {opacity: 0;}
	99.5% {opacity: 0;}
	100% {opacity: .25;}
	}

#logo {
	width: 164px;
	height: 164px;
	border-radius: 50%;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/logo.svg) center no-repeat;
	background-size: contain;
	position: absolute;
	}

#logoLink {
	display: contents;
	}

#menu {
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	z-index: 990;
	}

@keyframes scaleLink {
	0% {transform: scale(0); opacity: 0;}
	75% {transform: scale(0); opacity: 0;}
	100% {transform: scale(1); opacity: 1;}
	}

.linkContainer {
	border: 1px solid rgb(125 125 125 / 50%);
	border-radius: 50%;
	position: fixed;
	z-index: 800;
	transition: .35s;
	padding: 3px;
	animation: 1.5s linear 0s 1 scaleLink;
	}

.linkContainer:hover {
	transform: scale(1.25);
	border: 1px solid rgb(125 125 125 / 0%);
	}

.menuLink {
	width: 40px;
	height: 40px;
	display: block;
	border-radius: 50%;
	}

.menuTitle {
	display: flex;
	justify-content: center;
	position: absolute;
	font-size: 8px;
	text-transform: uppercase;
	font-family: "Magistral";
	font-weight: 300;
	font-style: normal;
	letter-spacing: 0px;
	margin-top: 5px;
	width: 86%;
	transition: .35s;
	opacity: 0;
	}

.menuTitle a {
	color: #D9974B;
	text-shadow: 0px 2px #212121;
	}

.linkContainer:hover .menuTitle {
	letter-spacing: 2px;
	opacity: 1;
	}

#newsContainer {
	margin-bottom: 400px;
	}

#news {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/news.svg) center no-repeat #7D7D7D;
	}

#contactsContainer {
	margin-right: 350px;
	margin-bottom: 200px;
	}

#contacts {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/contacts.svg) center no-repeat #7D7D7D;
	}

#musicContainer {
	margin-left: 350px;
	margin-bottom: 200px;	
	}

#music {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/music.svg) center no-repeat #7D7D7D;
	}

#textsContainer {
	margin-right: 350px;
	margin-top: 200px;
	}

#texts {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/texts.svg) center no-repeat #7D7D7D;
	}

#videoContainer {
	margin-left: 350px;
	margin-top: 200px;
	}

#video {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/video.svg) center no-repeat #7D7D7D;
	}

#photoContainer {
	margin-top: 400px;
	}

#photo {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/photo.svg) center no-repeat #7D7D7D;
	}

#footer {
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
	z-index: 985;
	}

#footerPage {
	width: 100%;
	height: 70px;
	position: fixed;
	bottom: 0;
	z-index: 985;
	background: #212121;
	}

#merch {
	width: 108px;
	height: 90px;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/merch.svg) center no-repeat;
	background-size: contain;
	}

#merchContainer {
	width: 108px;
	height: 90px;
	margin: 25px auto;
	position: fixed;
	left: 25px;
	bottom: 0;
	z-index: 999;
	transition: .35s
	}

#nutsContainer {
	width: 135px;
	height: 235px;
	position: fixed;
	right: 0px;
	bottom: 0;
	z-index: 999;
	transition: .35s;
	}

#nuts {
	width: 135px;
	height: 235px;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/nuts.svg) center bottom no-repeat;
	background-size: cover;
	}

#squirrel {
	width: 135px;
	height: 235px;
	background: none;
	display: none;
	}

@keyframes squirrel {
	0% {background-position: 0px;}
	20% {background-position: 0px;}
	50% {background-position: -5261px;}
	80% {background-position: -5261px;}
	100% {background-position: 0px;}
	}

@keyframes squirrel-m {
	0% {background-position: 0px;}
	20% {background-position: 0px;}
	50% {background-position: -2925px;}
	80% {background-position: -2925px;}
	100% {background-position: 0px;}
	}

#ink {
	width: 100px;
	height: 70px;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/ink.svg) center no-repeat;
	background-size: contain;
	margin: 0 auto 50px auto;
	}

#posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	}

.post {
	width: calc(50% - 10px);
	height: 250px;
	color: #7D7D7D;
	font-size: 14px;
	text-align: center;
	margin: 4px;
	display: none;
	}

#postImage {
	width: calc(100% - 2px);
	height: 170px;
	opacity: .75;
	border: 1px solid #7D7D7D;
	margin-bottom: 10px;
	}

#postCover {
	width: calc(100% - 2px);
	height: 300px;
	border: 1px solid #7D7D7D;
	margin-bottom: 10px;
	}

#postImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	}

#postCover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	}

#postTitle {
	width: 90%;
	height: 40px;
	text-align: left;
	margin: auto;
	line-height: 15px;
	}

#postDate {
	width: 90%;
	height: 30px;
	text-align: right;
	margin: auto;
	line-height: 15px;
	}

.post:hover > #postImage {
	opacity: 1;
	border: 1px solid #D9974B;
	}

.post:hover > #postTitle {
	color: #D9974B;
	}

.post:hover > #postDate {
	color: #D9974B;
	}

#more {
	width: 95%;
	color: #7D7D7D;
	display: block;
	text-align: center;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid #7D7D7D;
	background: transparent;
	cursor: pointer;
	}

#more:hover {
	color: #FFFFFF;
	background: #D9974B;
	border: 1px solid #D9974B;
	text-decoration: none;
	}

.end {
	color: #7D7D7D !important;
	background: transparent !important;
	border: none !important;
	pointer-events: none;
	font-size: 10px;
	}

#toTop {
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: transparent;
	position: fixed;
	right: 12.5%;
	bottom: 45px;
	z-index: 990;
	cursor: pointer;
	opacity: 0;
	transition: .35s;
	padding: 0;
	border: none;
	}

#topButton {
	transform: rotate(180deg);
	width: 50px;
	height: 50px;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/arrow-2.svg) center no-repeat;
	background-size: contain;
	border: 1px solid #7D7D7D;
	border-radius: 50%;
	}

.social-link:hover,
#logo:hover,
#merch:hover,
#news:hover,
#contacts:hover,
#music:hover,
#texts:hover,
#video:hover,
#photo:hover,
#social-links-c li:hover,
#topButton:hover,
#shareButton:hover,
#shareFB:hover,
#shareGP:hover,
#shareVK:hover,
#shareTX:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}

#post h1 {
	font-size: 15px;
	}

#date {
	font-size: 14px;
	}

#share {
	width: 100%;
	height: 40px;
	margin-bottom: 25px;
	}

#shareButton {
	width: 40px;
	height: 40px;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/share.svg) center no-repeat;
	background-size: contain;
	cursor: pointer;
	float: right;
	}

#shareContainer {
	width: 200px;
	height: 40px;
	visibility: hidden;
	opacity: 0;
	float: right;
	position: relative;
	left: 50px;
	transition: .35s ease-in-out;
	}

#shareTitle {
	height: 10px;
	line-height: 10px;
	}

#shareLinks {
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	line-height: 60px;
	position: relative;
	top: 10px;
	left: -5px;
	}

#shareLinks li {
	width: 20px;
	height: 20px;
	margin-right: 20px;
	}

#shareLinks a {
	display: block;
	width: 20px;
	height: 20px;
	}

#shareFB {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/facebook-c.svg) center no-repeat;
	background-size: contain;
	}

#shareGP {
	width: 24px !important;
	height: 24px !important;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/googleplus-c.svg) center no-repeat;
	background-size: contain;
	position: relative;
	top: -2px;
	}

#shareVK {
	width: 24px !important;
	height: 24px !important;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/vk-c.svg) center no-repeat;
	background-size: contain;
	position: relative;
	top: -2px;
	}

#shareTX {
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/twitter-c.svg) center no-repeat;
	background-size: contain;
	}
