#video-nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 112px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	z-index: 990;
	}

#video-list,
#video-prev,
#video-next {
	width: 40px;
	cursor: pointer;
	}

#video-list:hover,
#video-prev:hover,
#video-next:hover {
	filter: brightness(105%) sepia(1) saturate(2.5) hue-rotate(350deg) !important;
	}

#video-list-title,
#video-prev-title,
#video-next-title {
	text-transform: uppercase;
	font-size: 8px;
	text-align: center;
	color: #9D9D9D;
	font-family: "Magistral";
	font-weight: lighter;
	letter-spacing: 1px;
	}

#video-list-button {
	width: 40px;
	height: 40px;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/videos.svg) center no-repeat;
	background-size: contain;
	}

#video-prev-button {
	width: 40px;
	height: 40px;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/arrow-1.svg) center no-repeat;
	background-size: contain;
	transform: rotate(180deg);
	margin-bottom: 20px;
	}

#video-prev-title {
	transform: rotate(180deg);
	position: relative;
	bottom: 30px;
	}

#video-next-button {
	width: 40px;
	height: 40px;
	background: url(https://raw.githubusercontent.com/InsaneChronos/webtest/main/assets/arrow-1.svg) center no-repeat;
	background-size: contain;
	margin-bottom: 20px;
	}

#video-next-title {
	position: relative;
	top: 30px;
	}

#previews {
	display: none;
	background: rgb(33 33 33 / 75%);
	backdrop-filter: blur(10px);
	width: 442px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 990;
	}

#list {
	width: 305px;
	overflow-y: auto;
	}

#list::-webkit-scrollbar {
	width: 5px;
	}

#list::-webkit-scrollbar-track {
	background: #2C2C2C;
	}

#list::-webkit-scrollbar-thumb {
	background: #373737;
	}

#video-player {
	width: 100%;
	height: 100%;
	/* background: #000; */
	padding: 0;
	margin: 0;
	}

.video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	&.current {display: flex;}
	img {width: 100%; height: 0px; object-fit: cover;}
	}

.video iframe {
	border-radius: 10px;
	/* position: absolute; */
	/* top: 50%; */
	/* left: 50%; */
	/* width: 100vw; */
	/* height: 100vh; */
	/* transform: translate(-50%, -50%); */
	}

.preview {
	width: 300px;
	height: 70px;
	background: none;
	text-transform: uppercase;
	color: #9D9D9D;
	font-family: "Magistral";
	font-weight: lighter;
	letter-spacing: 1px;
	}

.preview:hover {
	background: #D9974B;
	color: #FFFFFF;
	}

.preview.current {
	background: #D9974B;
	color: #FFFFFF;
	}